header, .main-header, .search-block {
    position: fixed;
    top: 0;
    z-index: 11;
    transition: all 250ms ease-in-out;
  }
  .main-header.hidden {
    opacity: 0;
  }
  .search-block {
    width: 0%;
    right: 0;
    background: #fff;
  }
  .search-block.active {
    width: 100%;
  }
  .search-block .search-control {
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
  .gen-cert-btn {
    color: white; 
    padding: 10px 40px;
    border-radius: 5%;
    background-color: #4a63e0;
    text-decoration: none;
  }
  .data-selection-option {
    margin:3rem 2rem 1rem 2rem;
  }
  mat-radio-button {
    margin: 10px;
  }
  .fw-900 {
    font-weight:900
  }
  