<div class="container-fluid mt-3">
  <div class="d-flex gap-2">
    <div class="input-file">
      <input
        class="form-control"
        type="file"
        id="formFile"
        (change)="onFileChange($event)"
      />
    </div>
  </div>
  <div class="row mt-2" *ngIf="showTable">
    <div class="col-12">
      <ag-grid-angular
        style="min-height: 100px;max-height: 600px; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (firstDataRendered)="onFirstDataRendered($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
  <div class="row mt-2" *ngIf="showTable">
    <div class="d-flex justify-content-end">
      <div class="submit">
        <button class="btn btn-primary" (click)="saveForm()">Upload</button>
      </div>
    </div>
  </div>
</div>
