
  label {
    display: block;
    margin: 0.5rem 0;
    font-weight: bold;
  }

  .student-details-form {
    text-align: center;
    background-color: blanchedalmond;
  }

  .ml-10 {
    margin-left: 10px;
  }

  .mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }
  