.invalid {
    border: 1px solid red;
}

.university-name-dropdown .mat-form-field-wrapper {
    padding-bottom: 0;
}

.certificate-details {
    display: flex;
    gap: 1rem;
    margin: 0 0 0.5rem 2rem;
}