<div class="container">
  <div class="verify-certificate">
    <h1 class="text-center">Verify Certificate</h1>
    <form [formGroup]="certificateDetailsForm" (ngSubmit)="verifyCertificate()">
      <div class="mb-3">
        <label for="student-id" class="form-label"
          >Student Id <sup>*</sup></label
        >
        <input
          type="text"
          formControlName="studentId"
          class="form-control"
          id="student-id"
          placeholder="Student Id"
          [class.invalid]="isInvalidControl('studentId')"
        />
        <div
          *ngIf="
            isInvalidControl('studentId') &&
            errorMessages['studentId'].length > 0
          "
        >
          <small
            class="text-danger"
            *ngFor="let errMessage of errorMessages['studentId']"
            >{{ errMessage }}</small
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="certificate-id" class="form-label"
          >Certificate Id <sup>*</sup></label
        >
        <input
          type="text"
          formControlName="certificateId"
          class="form-control"
          id="certificate-id"
          placeholder="Certificate Id"
          [class.invalid]="isInvalidControl('certificateId')"
        />
        <div
          *ngIf="
            isInvalidControl('certificateId') &&
            errorMessages['certificateId'].length > 0
          "
        >
          <small
            class="text-danger"
            *ngFor="let errMessage of errorMessages['certificateId']"
            >{{ errMessage }}</small
          >
        </div>
      </div>

      <div class="mb-3">
        <label for="student-wallet-address" class="form-label"
          >Student Wallet Address</label
        >
        <input
          type="text"
          formControlName="studentWalletAddress"
          class="form-control"
          id="student-wallet-address"
          placeholder="Student Wallet Address"
          [class.invalid]="isInvalidControl('studentWalletAddress')"
        />
        <div
          *ngIf="
            isInvalidControl('studentWalletAddress') &&
            errorMessages['studentWalletAddress'].length > 0
          "
        >
          <small
            class="text-danger"
            *ngFor="let errMessage of errorMessages['studentWalletAddress']"
            >{{ errMessage }}</small
          >
        </div>
      </div>

      <div class="university-name-dropdown mb-3">
        <label for="university-name" class="form-label"
          >University Name <sup>*</sup></label
        >
        <mat-form-field id="university-name" class="w-100" appearance="outline">
          <mat-select
            formControlName="universityName"
            placeholder="Select University"
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="universityFilterCtrl"
                placeholderLabel="Find University..."
                noEntriesFoundLabel="'no matching university found'"
              ></ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let university of filteredUniversities | async"
              [value]="university"
            >
              {{ university.universityName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          *ngIf="
            isInvalidControl('universityName') &&
            errorMessages['universityName'].length > 0
          "
        >
          <small
            class="text-danger"
            *ngFor="let errMessage of errorMessages['universityName']"
            >{{ errMessage }}</small
          >
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          [disabled]="!certificateDetailsForm.valid"
          class="btn btn-primary"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div class="mt-3" *ngIf="showCertificateDetails">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Certificate Details</mat-card-title>
        <mat-card-subtitle>
          <div>
            <label for="certificate-id">Certificate id: </label>
            <span id="certificate-id">
              {{ certificateDetails?.certificateId }}</span
            >
          </div></mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <div class="certificate-details">
          <label for="student-name">Student Name: </label>
          <span id="student-name">
            {{ certificateDetails?.student_info?.studentName }}</span
          >
        </div>
        <div class="certificate-details">
          <label for="student-id">Student Id: </label>
          <span id="student-id">
            {{ certificateDetails?.student_info?.studentId }}</span
          >
        </div>
        <div class="certificate-details">
          <label for="student-program">Program: </label>
          <span id="student-program">
            {{ certificateDetails?.student_info?.program }}</span
          >
        </div>
        <div class="certificate-details">
          <label for="student-department">Department: </label>
          <span id="student-department">
            {{ certificateDetails?.student_info?.department }}</span
          >
        </div>
        <div class="certificate-details">
          <label for="student-email">Student Email: </label>
          <span id="student-email">
            {{ certificateDetails?.student_info?.studentEmail }}</span
          >
        </div>
        <div class="certificate-details">
          <label for="student-cgpa">CGPA: </label>
          <span id="student-cgpa"> {{ certificateDetails?.cgpa }}</span>
        </div>
        <div class="certificate-details">
          <label for="student-tenure">Tenure: </label>
          <span id="student-tenure"> {{ certificateDetails?.tenure }}</span>
        </div>
        <div class="certificate-details">
          <label for="student-grad-date">Graduation Date: </label>
          <span id="student-grad-date">
            {{ certificateDetails?.graduationDate }}</span
          >
        </div>
        <div class="certificate-details">
          <label for="student-cert-issue-date">Certificate Issue Date: </label>
          <span id="student-cert-issue-date">
            {{ certificateDetails?.issueDate }}</span
          >
        </div>
        <div class="certificate-details">
          <label for="student-remarks">Remarks: </label>
          <span id="student-remarks"> {{ certificateDetails?.remarks }}</span>
        </div>
        <div class="certificate-details">
          <label for="student-university-id">Univeristy Id: </label>
          <span id="student-university-id">
            {{ certificateDetails?.university_id }}</span
          >
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
  

