<div class="container-fluid login-box">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card shadow px-3 py-2">
      <div class="card-title text-center">
        <h2>Login</h2>
      </div>
      <div class="card-body">
        <button class="btn btn-primary" (click)="loginAsUniversity()">Login as University</button>
        <button class="btn btn-light ml-2" (click)="loginAsStudent()">Login as Student</button>
        <button class="btn btn-light ml-2" (click)="loginAsStaff()">Login as Staff</button>

        <div class="d-flex justify-content-end">
          <button class="btn btn-link" (click)="universitySignUp()">University Sign up</button>
        </div>
      </div>
    </div>
  </div>
</div>
