

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
<div *ngIf="isAddBtnDisplayed">
<button routerLink="/signup" [queryParams]="{isStudent: false}" class="btn btn-primary m-10" (click)="onClickOfAddNewUniversityBtn()">Add New University</button>
</div>




<ng-container *ngIf="!isCreateTokenBtnClicked && isUniversityLoginSuccessful">
  <button class="btn btn-primary m-10">Verify Certificates</button>

  <button routerLink="search" class="btn btn-primary m-10" (click)="genToken()">Create Token</button>
</ng-container>

<router-outlet></router-outlet>



