

<router-outlet></router-outlet>

<!-- <li routerLinkActive="active">
  <button (click) = "addNewUniversity()"> Add New University </button>
</li>

<li routerLinkActive="active">
  <button (click) = "getAllUniversities()"> Get All University </button>
</li>

<li routerLinkActive="active">
  <button (click) = "addCertificate()"> Mint Certificate </button>
</li>

<li routerLinkActive="active">
  <button (click) = "getMyCertificate()"> Show  Certificate </button>
</li>


<li routerLinkActive="active">
  <button (click) = "addMultipleCertificates()"> Generate Multiple Certificate </button>
</li> -->
