
<!-- 
<ul>
  <li routerLinkActive="active">
    <a routerLink="university">Login As University</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="student">Login As Student</a>
  </li>



  <li routerLinkActive="active">
    <button (click) = "addNewUniversity()"> Add New University </button>
  </li>

  <li routerLinkActive="active">
    <button (click) = "getAllUniversities()"> Get All University </button>
  </li>

  <li routerLinkActive="active">
    <button (click) = "addCertificate()"> Mint Certificate </button>
  </li>

  <li routerLinkActive="active">
    <button (click) = "getMyCertificate()"> Show  Certificate </button>
  </li>




</ul> -->




<li routerLinkActive="active">
  <button (click) = "addNewUniversity()"> Add New University </button>
</li>

<li routerLinkActive="active">
  <button (click) = "getAllUniversities()"> Get All University </button>
</li>

<li routerLinkActive="active">
  <button (click) = "addCertificate()"> Mint Certificate </button>
</li>

<li routerLinkActive="active">
  <button (click) = "getMyCertificate()"> Show  Certificate </button>
</li>


<!-- <app-csv-upload></app-csv-upload> -->

<router-outlet></router-outlet>
