<div class="container pt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">Certificate Minting</h2>
    <div class="d-flex">
      <ng-container *ngIf="!!showTable">
        <button class="btn btn-link" (click)="backToStudentForm()">Back to Student Form</button>
        <button mat-flat-button color="accent" class="mx-2" [disabled]="!enableUpload">Upload</button>
        <button mat-flat-button color="primary" (click)="onSave()">Save</button>
      </ng-container>
      <button mat-flat-button color="primary" *ngIf="!showTable" (click)="bulkUpload()">Bulk Upload</button>
    </div>
  </div>

  <div class="container mt-2" *ngIf="!showTable">
    <app-student-details></app-student-details>
  </div>

  <div class="row mt-2" *ngIf="showTable">
    <div class="col-12">
      <ag-grid-angular
        style="min-height: 300px;max-height: 600px;height: 500px "
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (firstDataRendered)="onFirstDataRendered($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <!-- <div class="row mt-2">
    <div class="col-12">
      <h1 class="text-center">Certificate Minting</h1>

      <div class="data-selection-option">
        <mat-radio-group [(ngModel)]="selectedOption">
          <mat-label class="fw-900">Options to enter student data</mat-label>
          <mat-radio-button value="formData" color="primary"
            >Student Form</mat-radio-button
          >
          <mat-radio-button value="bulkUpload" color="primary"
            >Bulk Upload</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <ng-container *ngIf="selectedOption === 'formData'">
        <app-student-details></app-student-details>
      </ng-container>
      <ng-container *ngIf="selectedOption === 'bulkUpload'">
        <app-download-template
          [fileName]="fileName"
          [headersList]="headersList"
          [compnentName]="compnentName"
        >
        </app-download-template>

        <app-csv-upload (submitFile)="onSubmit($event)"></app-csv-upload>
      </ng-container>
    </div>
  </div> -->
</div>
