.student-details-form {
    display: flex;
    justify-content: center;
}
.university-registration-form {
    height: 100vh;
}

.error-message {
    color: #FF0000;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    background: antiquewhite;
}