/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ta-c {
    text-align: center;
}

.m-10 {
    margin:10px;
}

.d-flex {
    display: flex;
} 

.jc-center {
    justify-content: center;
}

.ag-center-cols-clipper,
.ag-center-cols-container {
  min-height: 300px !important;
}

.cursor-pointer {
    cursor: pointer;
}